# Ignore virtual environment
venv/
env/
.venv/
pyenv/
pipenv/

# Ignore database files
db.sqlite3

# Ignore compiled Python files
__pycache__/
*.pyc

# Ignore IDE/Editor-specific files
.vscode/
.idea/
*.sublime-workspace
*.sublime-project

# Ignore user-specific settings
*.env

# Ignore system files
.DS_Store
Thumbs.db

# Ignore local development settings
*.log
*.bak

# Ignore media and static files (if you're serving them separately)
/media/
/static/

# Ignore secret settings (if you have separate secret settings)
settings/secret.py

# Ignore database backups
backups/
